.cardHeader {
    background-color: #425df5;
    width: 100%;
    min-width: 300px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.headerPrice {
    font-size: 20px;
}

.headerLeft {
    text-align: end;
}

.flightDirection {
    display: flex;
    width: 100%;
}

.time {
    display: flex;
    justify-content: space-around;
}

.segments {
    display: flex;
    justify-content: center;
}

.bluLine {
    width: 100%;
    height: 2px;
    background-color: #425df5;
    margin: 10px auto;
}

.selectBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    width: 100%;
    color: white;
    background-color: #fc9d03;
    margin-bottom: 30px;
    cursor: pointer;
}

.selectBtn:hover {
    background-color: #425df5;
    font-size: 18px;
}